.card {
  position: relative;
  width: 30%;
  min-height: 500px;
  text-align: center;
  background-color: #ebf4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-radius: 30px;

  &__head-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    max-width: 250px;
  }
  &__img {
    background-size: cover;
    width: 100%;
    margin: 40px 0;
    height: 50%;
    border-radius: 15px;
  }

  &__text {
    padding: 20px;
  }

  &__price {
    font-size: 20px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
  }

  &__btn {
    position: absolute;
    bottom: 3%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #088395;
    color: white;

    cursor: pointer;
    &:hover {
      background-color: darken($color: #088395, $amount: 5);
    }
  }
}
